.about{
    background: linear-gradient( black,  #202124 );
}
.about__container {
    padding: 10% 0 0 10%;
    width: 60%;
    height: fit-content;
}

.about__title {
    color: var(--orange);
    margin-top: 0;
    font-size: 2rem;

}

.about__paragraph {
    color: var(--white-text);
    line-height: 30px;
    text-align: justify;
    font-size: larger;
}

/* mobile responsive */
@media screen and (max-width: 767px) {
    .about__container {
        width: 80%;
    }

    .about__paragraph {
        font-size: small;
    }
}

/* tablet responsive */
@media screen and (min-width:768px) and (max-width:1023px) {

    .about__container {
        width: 80%;
    }

    .about__paragraph {
        font-size: large;
    }

}