.box {
  width: var(--tamano_cajas_w);
  height: var(--tamano_cajas_h);
  border-radius: 12px;
  border: 2px solid #D0D3D4;
  background: white;
  box-shadow: 10px 10px 20px -7px rgba(0, 0, 0, 0.49);
  display: flex;
  text-align: center;
  align-items: center;
  margin: 15px;

}

.box__img {
  width: 100%;
  height: auto;
}

.box__img__img {
  width: 37%;
}

.box__name {
  padding: 10px 0 10px 0;
  font-weight: bold;
}


@media (min-width: 768px) and (max-width:1023px) {
  .box {
    display: flex;
    justify-content: center;
  }

}

@media screen and (max-width:767px) {
  .box {
    display: flex;
    justify-content: center;
  }

  .box__img {
    padding: 0;
  }

}