.about__container {
    padding: 10% 0 0 10%;
    width: 60%;
    height: fit-content;
}

.about__title {
    margin-top: 0;
    font-size: 2rem;

}

.about__paragraph {
    line-height: 30px;
    text-align: justify;
    font-size: larger;
}


@media screen and (max-width:1023px) {

    .about__container {
        width: 80%;
    }

    .about__paragraph {
        font-size: x-large;
    }

}